#BATCH=no
#SIZE_ESP=512M
#SIZE_LINUXROOT=0
#SIZE_SWAPFILE="$(grep ^MemTotal /proc/meminfo | xargs | cut -d' ' -f2)k"
#SIZE_SWAPFILE=128m
#WIPE_DISK=yes
#RANDOMIZE_LINUXROOT=yes
#CPU_VENDOR=""
#TIMEZONE="Europe/Berlin"
#LOCALE="en_US-UTF-8"
#KEYMAP="us"
#CMDLINE_EXTRA=""
#CMDLINE_EXTRA="earlyprintk=ttyS0,keep console=ttyS0 console=tty0" # can be specified via qemu -smbios type11 options
# Set the default shell for the root account
#DEFAULT_SHELL="/bin/bash"
