#VOLUME=/dev/diskXnN
#SIZE_ESP=512M
#SIZE_LINUXROOT=0
#SIZE_SWAPFILE=128M
CREATE_WIN=no
WIPE=yes
CPU_VENDOR=intel
#TIMEZONE="Europe/Berlin"
#LOCALE=""
#KEYMAP="us"
#NODENAME="arin"
CMDLINE_EXTRA="earlyprintk=ttyS0 console=ttyS0 console=tty0"
# Set the default shell for the superuser and
#DEFAULT_SHELL="/bin/bash"
